/* ==UserStyle==
@name           ArsTechnica - Minimal Article View
@namespace      github.com/HunterMorrell/UserCSS-Styles
@version        1.2.0
@description    Alters the layout to decrease wasted space and remove unneeded elements (if you're viewing things on a per article basis isntead of navigating the site).
@author         Hunter Morrell
==/UserStyle== */

@-moz-document domain("arstechnica.com") {

    /* Overall site */
    html body div.site-wrapper
    {
        max-width: 100%!important;
        padding-left: 5%!important;
        padding-right: 5%!important;
        padding-top: 0!important;
    }

    article
    {
      max-width: 100%!important;
    }

    .article-guts
    {
      padding: 0!important;
    }

    /* Primary article contents */
    .article-single .column-wrapper .left-column,
    .lSSlideWrapper .lSSlide
    {
        width: 100%!important;
    }

    /* Aligning and resizing individual items in order to fit better and not go off screen */
    .article-single .article-header,
    .left-column,
    .article-single .gallery,
    .article-single figure.full-width,
    .article-single figure.intro-image,
    .article-single figure.video
    {
        width: 100%!important;
        margin-left: 0!important;
    }

    /* Removing any unwanted elements */
    div.xrail,
    .site-header,
    .comment-count,
    .story-sidebar,
    .article-single #article-footer-wrap,
    .site-footer
    {
        display: none!important;
    }


}
