/* ==UserStyle==
@name           The Kitchn - Dark Mode + Minimal Article View
@namespace      github.com/HunterMorrell/UserCSS-Styles
@version        1.0
@description    Alters the layout to decrease wasted space and remove unneeded elements (if you're viewing things on a per article basis isntead of navigating the site). 
@author         Hunter Morrell
==/UserStyle== */

@-moz-document domain("thekitchn.com") {
	.Post__actions--post-top,
	.Post__actions--post-bottom,
	.PostBundle--with-rail .Post__recirc,
	.ContentBundle--spread-listWide,
	.ContentBundle--spread-surroundSound,
	.SiteFooter,
	.Recirc
	{
	    display: none!important;
	}

	body,
	.SiteHeader
	{
	    background-color: #2a2929!important;
	    color: #a8a7a7!important;}

	p
	{
	    color: #a8a7a7;
	}

	.Post
	{
	    grid-template-columns: none!important;
	    max-width: 90%!important;
	    width: 90%!important
	    margin-left: 5%!important;
	    margin-right: 5%!important;
	}

	.SiteHeader
	{
	    max-width: 90%!important;
	}

	body
	{
	    overflow-x: hidden;
	}
}